body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(0, #6030b9, #000000);

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    display:list-item;
}

h1{
    font-family: 'Lexend', sans-serif;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

#name{
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

#second-text{
    color: #c50685;
    font-family: 'Fasthand', cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

img{
    padding: 2rem;
}

.projetos{
    background-color: #5e0592;
    border-radius: 36px;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    border: none;
    padding: 16px 32px 16px 32px;
    display: flex;
    margin: auto;
    cursor: pointer;
    transition-duration: .3s ease;
    box-shadow: 0 0 10px 0px black;
}

a{
    color: #fff;
    text-decoration: none;
}

.projetos:hover{
    background-color: #c50685;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px black;
}


#descritivo{
    color: #fff;
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 18px;
}

nav.sidebar{
    width: 300px;
    height: 100vh;
    background-color: #121212;
    padding: 40px 0 40px 1%;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    padding: 20px 4%;
    margin-bottom: 20px;
}

ul li.item a .txt{
    margin-left: 40px;
    font-family: 'Lexend', sans-serif;
}